<% include header %>

	<div class="container">

		<h1>Home</h1>

		<p>
			<%= test %><br />
			<a href="https://github.com/teamgasy/example-nodejs" target="_blank">https://github.com/teamgasy/example-nodejs</a>
		</p>

	</div>

<% include footer %>